{% extends "spendtrackapp/base.html" %}

{% block script %}
    {% load static %}
    <script src="{% static "spendtrackapp/js/index.js" %}"></script>
{% endblock %}

{% block main %}

    <div class="container">

        <!-- Clock and Balance -->
        <div class="row info">
            <div class="seven columns box" id="clock"></div>
            <div class="five columns box">
                <div>Balance</div>
                <div id="current-balance">{{ current_balance }}</div>
            </div>
            <script>startTime()</script>
        </div>

        <!-- Entries in this week -->
        <div class="box">
            <div class="row">
                <table class="twelve columns">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Content</th>
                        <th class="align-right">Value</th>
                        <th class="align-right">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entries_page in entries_pages %}
                        {% for entry in entries_page %}
                            <tr class="table-page-{{ forloop.parentloop.counter }}">
                                <td>{{ entry.formatted_date }}</td>
                                <td>{{ entry.content }}</td>
                                <td class="align-right">{{ entry.value }}</td>
                                <td class="align-right">{{ entry.leaf_category }}</td>
                            </tr>
                        {% endfor %}
                    {% empty %}
                        <tr>
                            <td class="no-data">No data to display</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Total in week -->
            <div class="row info">
                <div class="one-third column">TOTAL</div>
                <div id="total-in-week" class="two-thirds column">{{ total_in_week }}</div>
            </div>

            <!-- page control -->
            {% if entries_pages|length > 1 %}
                <div class="row">
                    <div class="twelve columns group-btn page-control align-right">
                        {% for ep in entries_pages %}
                            <div class="button"
                                 onclick="viewTablePage({{ forloop.counter }})">{{ forloop.counter }}</div>
                        {% endfor %}
                    </div>
                    <script>viewTablePage(1)</script>
                </div>
            {% endif %}

        </div>

        <!-- Add new entry -->
        <form class="box" action="{% url "add" %}">
            {% csrf_token %}

            <div class="row">
                <!-- Date time -->
                <div class="five columns">
                    <label for="date">Datetime</label>
                    <input type="datetime-local" id="date" name="date" placeholder="yyyy-mm-dd hh:mm"
                           autocomplete="off">
                    <div class="button" onclick="setDatetimeNow()">Now</div>
                    <div id="date-error" class="input-error"></div>
                </div>

                <!-- Content -->
                <div class="seven columns">
                    <label for="content">Content</label>
                    <input type="text" id="content" name="content" placeholder="A carrot and an apple" maxlength="200">
                    <div id="content-error" class="input-error"></div>
                </div>
            </div>

            <div class="row">
                <!-- Category -->
                <div class="five columns">
                    <label for="category_id">Category</label>
                    <input type="hidden" name="category_id" id="category_id" value="" autocomplete="off">
                    <div class="select">
                        <div onclick="showDropDown()" class="select-btn clickable">
                            <span id="category-display" class="clickable">Select a category</span>
                            <span class="clickable" style="float: right">&#x25BC</span>
                        </div>
                        <div id="select-category" class="select-content">
                            {{ category_hierarchy | safe }}
                        </div>
                    </div>
                    <div id="category-error" class="input-error"></div>
                </div>

                <!-- Value -->
                <div class="seven columns">
                    <label for="value">Value</label>
                    <input type="text" id="value" name="value" placeholder="1.25 + 2.3 * 5"
                           pattern="^[0-9 \+\-\*\/\(\)\.]+$">
                    <div id="value-error" class="input-error"></div>
                </div>
            </div>

            <!-- Submit and clear -->
            <div class="row submit-row align-right">
                <div class="button" onclick="clearFields()">CLEAR</div>
                <div class="button button-primary" onclick="submitForm()">ADD</div>
            </div>
        </form>
    </div>

{% endblock %}