{% extends "spendtrackapp/summarize_base.html" %}

{% block first_chart %}
    <div class="row">
        <div class="twelve columns">
            <div class="chart chart-line" id="line-chart"></div>
        </div>
    </div>
{% endblock %}

{% block chart_render %}
    <script>
        // sum for line chart
        let lastMonthData = [lastPeriodFirstChartSeries[0]];
        let thisMonthData = [thisPeriodFirstChartSeries[0]];
        for (let i = 1; i < 32; i++) {
            lastMonthData[i] = lastMonthData[i - 1] + lastPeriodFirstChartSeries[i];
            thisMonthData[i] = thisMonthData[i - 1] + thisPeriodFirstChartSeries[i];
        }

        // line chart
        Chartist.Line('#line-chart', {
            labels: range(1, 32),
            series: [
                lastMonthData,
                thisMonthData
            ]
        }, lineChartOptions, lineChartResponsiveOptions);

        // filter out non-leaf categories
        let lastMonthLeafCategoriesSeries = [];
        let thisMonthLeafCategoriesSeries = [];
        for (let i = 0; i < categoriesNames.length; i++) {
            if (isLeaf[i]) {
                lastMonthLeafCategoriesSeries.push(lastPeriodPieChartSeries[i]);
                thisMonthLeafCategoriesSeries.push(thisPeriodPieChartSeries[i]);
            }
        }

        // last month pie chart
        Chartist.Pie('#last-period-pie-chart', {
            labels: categoriesNames,
            series: lastMonthLeafCategoriesSeries
        }, pieChartOptions, pieChartResponsiveOptions);

        // this month pie chart
        Chartist.Pie('#this-period-pie-chart', {
            labels: categoriesNames,
            series: thisMonthLeafCategoriesSeries
        }, pieChartOptions, pieChartResponsiveOptions);

    </script>
{% endblock %}