{% extends "spendtrackapp/base.html" %}

{% block script %}
    {% load static %}
    <script src="{% static "spendtrackapp/js/summarize_index.js" %}"></script>
{% endblock %}

{% block main %}

    <div class="container">
        <form class="box" method="post">
            {% csrf_token %}

            <!-- Type to summarize -->
            <div class="row">
                <div class="four columns">
                    <label for="summarize_type">Summarize type</label>
                    <select id="summarize_type" name="summarize_type" autocomplete="off"
                            onchange="selectSummarizeType()">
                        <option value="year">Year</option>
                        <option value="month">Month</option>
                        <option value="week">Week</option>
                        <option value="daterange" selected>Date range</option>
                    </select>
                </div>

                <!-- Summarize year -->
                <div id="summarize_year" class="summarize-group">
                    <div class="four columns">
                        <label for="year_year">Year</label>
                        <input id="year_year" name="year_year" type="number" autocomplete="off"
                               min="2000" max="2100" step="1">
                    </div>
                </div>

                <!-- Summarize month -->
                <div id="summarize_month" class="summarize-group">
                    <!-- year -->
                    <div class="four columns">
                        <label for="month_year">Year</label>
                        <input id="month_year" name="month_year" type="number" autocomplete="off"
                               min="2000" max="2100" step="1">
                    </div>

                    <!-- month -->
                    <div class="four columns">
                        <label for="month_month">Month</label>
                        <select id="month_month" name="month_month" autocomplete="off">
                            <option value="jan">January</option>
                            <option value="feb">February</option>
                            <option value="mar">March</option>
                            <option value="apr">April</option>
                            <option value="may">May</option>
                            <option value="jun">June</option>
                            <option value="jul">July</option>
                            <option value="aug">August</option>
                            <option value="sep">September</option>
                            <option value="oct">October</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                    </div>
                </div>

                <!-- Summarize week -->
                <div id="summarize_week" class="summarize-group">
                    <!-- year -->
                    <div class="four columns">
                        <label for="week_year">ISO Year</label>
                        <input id="week_year" name="week_year" type="number" autocomplete="off"
                               min="2000" max="2100" step="1">
                    </div>

                    <!-- week -->
                    <div class="four columns">
                        <label for="week_week">ISO Week</label>
                        <input id="week_week" name="week_week" type="number" autocomplete="off"
                               min="1" max="53" step="1">
                    </div>
                </div>

                <!-- Summarize daterange -->
                <div id="summarize_daterange" class="summarize-group">
                    <!-- start date -->
                    <div class="four columns">
                        <label for="start_date">Start date</label>
                        <input id="start_date" name="start_date" type="date">
                    </div>

                    <!-- end date -->
                    <div class="four columns">
                        <label for="end_date">End date</label>
                        <input id="end_date" name="end_date" type="date">
                        <div class="button" onclick="setEndDateNow()">NOW</div>
                    </div>
                </div>
                <script>
                    selectSummarizeType();
                    fillDefaultValues();
                </script>
            </div>

            <div class="row">
                <div class="twelve columns input-error"></div>
            </div>

            <!-- Submit and clear -->
            <div class="row submit-row">
                <div class="button button-primary" onclick="submitForm()">SUMMARIZE</div>
                <div class="button" onclick="clearFields()">CLEAR</div>
            </div>
        </form>
    </div>

{% endblock %}